<main>
    <section>       
    <body>
        
        <h2 class="welcome_form" style="text-align:center;">Welcome</h2>
        <div class="main_div">
            <form class="login_form">
                <label for="login">Login:</label><br>
                <input type="text" id="login" name="login" ><br>

                <label for="password">Password:</label><br>
                <input type="text" id="password" name="passwod" ><br><br>

                <button>Log In</button>             
            </form>
        </div>             
    </body>
    </section>
</main>